

.searchbar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #89cff0;
    overflow: hidden;
    padding: 5px;

    text-align: center;
}

.searchbar #searchInput {
    width: 70%;
    background-color: #89cff0;
    border-radius: 5px;
    border: none;
    border-bottom-color: #89cff0;
}

.searchbar img {
    margin: 2px;
    width: 4%;
}

textarea:focus, input:focus {
    outline: none;
}

#leftSlide, #rightSlide {
    padding: 1%;
}

.glyphicon {
    font-size: 50px;
}

#singleMovieDiv {
    margin-top: 25px;
}

#searchSection {
    margin-top: 75px;
}

#logo {
    width: 30px;
    margin-left: 10px;
}

.navLogin {
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;

    display: flex;
    align-items: center;
}

.navLogin #loginSpan {
    margin: 0 auto;
    display: block;

    padding-left: 10px;
    padding-right: 10px;
}

.navLogin #loginImg {
    margin: 0 auto;
    display: block;
}


.dropbtn {
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3f3f3f;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.userDropdownContainer {
    padding: 5px;
    display: inherit;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 30px;
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*
#streamProvider {
    border: black solid 5px;
}

iframe {
    border: black solid 5px;
}*/

#videoProvider {
    background: #f5f5f7 url(loading.gif) no-repeat center center;
    padding: 25px;
    margin-bottom: 25px;
}
