

.searchbar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #89cff0;
    overflow: hidden;
    padding: 5px;

    text-align: center;
}

.searchbar #searchInput {
    width: 70%;
    background-color: #89cff0;
    border-radius: 5px;
    border: none;
    border-bottom-color: #89cff0;
}

.searchbar img {
    margin: 2px;
    width: 4%;
}

textarea:focus, input:focus {
    outline: none;
}

#leftSlide, #rightSlide {
    padding: 1%;
}

.glyphicon {
    font-size: 50px;
}

#singleMovieDiv {
    margin-top: 25px;
}

#searchSection {
    margin-top: 75px;
}

#logo {
    width: 30px;
    margin-left: 10px;
}

.navLogin {
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;

    display: flex;
    align-items: center;
}

.navLogin #loginSpan {
    margin: 0 auto;
    display: block;

    padding-left: 10px;
    padding-right: 10px;
}

.navLogin #loginImg {
    margin: 0 auto;
    display: block;
}

/*
#streamProvider {
    border: black solid 5px;
}

iframe {
    border: black solid 5px;
}*/

#videoProvider {
    background: #f5f5f7;
    padding: 25px;
    margin-bottom: 25px;
}


.loginDropdown {
    margin-right: 10px;
}

#similarVideos {
    margin-bottom: 25px;
}

#trendingResult, #nowPlayingResult, #topRatedResult {
    margin-bottom: 25px;
}

.heart {
    font-size: 20px;
    color:red;
}

.image_container {
    z-index: 1;
}

.options {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
}

.options_content {
    background-color: rgba(173, 173, 173, 0.7);
    border-radius: 50%;
    color: black;
    
    display: flex;
    align-items: center;
    cursor: pointer;
}

.options_content:hover {
    background-color: rgba(91, 192, 222, 0.9);
}


.options_content svg{
    margin: 0 auto;
    display: block;
}

.tooltip-content {
    visibility: hidden;
    opacity: 0
}

.options-dropdown {
    width: 300px;
}

.dropdown-item-text {
    font-weight: bold;
}